.comment {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  max-width: 70%;
  margin: 0 auto;
  word-wrap: break-word;
}
.comment > h2::first-letter {
  text-transform: uppercase;
}
main > .comment > h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
main > .comment > div > p {
  font-size: 1.1rem;
  font-weight: 400;
}

main > .comment > time {
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 400;
}

.comment .comment {
  font-size: 1rem;
  padding: 0;
  max-width: 90%;
  min-width: 200px;
  margin-left: 10%;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
}
